@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
}

body{
    background-color: rgba(219, 62, 99, 0.9);
}
.main-box{
    max-width: 100%;
    min-height: 50.5vh;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
#title_sec{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(#999, #fff);
    color: #fff;
    text-align: center;
    font-size: 6vh;
    font-weight: bold;
    letter-spacing: 7px;
    overflow: hidden;
    z-index: 1;
    display: flex;
    justify-content: center;
}
#welcome{
    background: transparent;
    margin: auto;
    text-align: center;
}
#card-head{
    text-transform: uppercase;
    letter-spacing: 5px;
    margin: 10px;
    display: inline-block;
    justify-content: center;
    text-align: center;
}
.define-sec{
    text-align: justify;
}

.work-sec,.about-us{
    padding: 2vh;
}

.define-container{
    width: 100%;
    padding-left: 3vh;
    padding-right: 4vh;
}

#tech_sec{
    align-content: center;
    padding: 0;
    margin: 0;
    width: 100%;
}

.end-sec{
    background-color:rgba(155, 29, 58, 0.9);
    color: whitesmoke;
    width: 100%;
    font-size: 3vh;
    padding: 1vh;
}

#cart-btn{
    background-color:rgba(200, 13, 56, 0.9);
    padding: 10px;
    color: whitesmoke;
    border-radius: 15px;
    margin: 2vh;
    width: 40vh;
}

.card{
    background-color: white;
    margin: 20px;
    border: none;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    transition-duration: 0.4s;
}
.card:hover{
    z-index: 0.5;
    box-shadow: 0 8px 50px rgba(0, 0, 0, 0.7);
    transform: scale(1.02);
    background-color: whitesmoke;
}
#cart-btn:hover{
    background-color: rgba(236, 20, 56, 0.95);
}

.cart-btn, .cart-btn:hover{
    text-align: center;
    text-decoration: none;
}

#cardid3{
    margin-left: 10%!important;
}

@media only screen and (max-width: 768px) {

    #cardid3{
        margin-left: 0!important;
    }
}
