.cherry{
	color:  rgba(236, 20, 56, 0.95);
}
*{
	padding: 0;
}
#head_start{
	font-family: 'Righteous', cursive;
	font-size: 3.5vh;
	padding:0;
}
#head_start:hover{
	color: black;
}
.nav_link{
	text-decoration: none;
	color: black;
	margin-right: 2vh;
}
.nav_link:hover{
	color:  rgba(236, 20, 56, 0.95);
}
.navbar-toggler:hover{
	color:  rgba(236, 20, 56, 0.95);
}
#search-icon{
	margin-left: 0px;
	background-color: white;
	color: black;
	border: none;
	outline: none;
	height: 30px;
	padding: 1px 5px 1px 5px;

	transition-duration: 0.4s;
}
#search-icon:hover{
	background-color:  rgba(236, 20, 56, 0.95);
	color: #eee;
}
.navbar{
	background-color: #eee;
}

footer{
	background-color: #eee;
}
#search{
	border: none;
	outline: none;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	padding-left: 2vh;
	width: 300px;
}
.footer-widget{
	padding: 1vh;
}
.widget-title{
	text-transform: uppercase;
	font-size: 15px;
}
.footer-list{
	list-style-type: none;
}
.footer-list-div{
	font-size: 15px;
}
.footer-list-div a{
	margin-top: 10px;
	text-decoration: none;
	color:#515151;
	cursor: pointer;
	display: block;
}
.footer-list-div a:hover{
	color: #C22025;
	transition: var(--mainTransition);
}

#fb, #insta, #twit, #link{
	margin-right: 6px;
	margin-top: 6px;
	color: #515151;
	height: 20px;
	width: 20px;
}
#fb:hover, #insta:hover, #twit:hover, #link:hover{
	color:#C22025;
	transition: var(--mainTransition);
}
   
#search{
	/*width: 65vw;*//*For full length in desktop view*/
	width: 20vw;/*Smaller Search Bar*/
}

@media screen and (max-width: 768px) {
	#head_start{
		margin-right: 0!important;
	}

	#search{
		width: 40vw;
	}
}
/******************* End Footer *****************/

img{
	max-width: 100%;
	height: auto;
}