.main-box{
    padding: 4vh;
    min-height: 51.5vh;
}

.product-details{
    margin-top: 4vh;
    margin-bottom: 4vh;
    padding: 4vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
    border-left: solid 1px lightgray;
}

.prod-image{
    padding: 5vh;
}

.prod-head{
    font-size: 6vh;
}

.prod-price{
    font-size: 5vh;
}

.prod-brand, .seller-brand{
    font-size: 4vh;
    font-weight: bold;
}

.prod-description{
    padding: 2vh;
    margin: 2vh;
    margin-left: 0;
    background-color: #eee;
    border-radius: 5px;
}

.add-head{
    font-weight: bold;
}

.seller-head{
    padding-top: 2vh;
    font-size: 4.5vh;
}

#cart-btn{
    background-color:rgba(200, 13, 56, 0.9);
    padding: 10px;
    color: whitesmoke;
    border-radius: 15px;
    margin: 2vh;
}

#cart-btn:hover{
    background-color: rgba(236, 20, 56, 0.95);
    transition-duration: 0.3s;
}

.cart-btn, .cart-btn:hover{
    text-align: center;
    text-decoration: none;
}

.cart-order{
    text-align: center;
    padding: 2vh;
}

.icon-container{
    width: 100%;
}

#cart-icon{
    width: 50%;
    padding-right: 3vh;
}

.cart-container{
    margin-top: 5vh;
    background-color: #eee;
    padding: 1vh;
    border-radius: 5px;
}