.product-details{
    margin-top: 4vh;
    margin-bottom: 4vh;
    padding: 4vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
    border-left: solid 1px lightgray;
}

.seller-image{
    padding: 2vh;
    height: 45vh;
}

.seller-head{
    font-size: 6vh;
    font-weight: bold;
}
.seller-username{
    font-size: 4vh;
}
.seller-brand{
    font-size: 4vh;
    font-weight: bold;
}
.seller-address{
    padding-left: 5vh;
    margin: 2vh;
    margin-left: 0;
    background-color: #eee;
    border-radius: 5px;
    transform: translateX(-2vh);
}
.add-head{
    font-weight: bold;
}

.banner-btn{
    align-content: center;
}

#banner-btn{
    background-color:rgba(200, 13, 56, 0.9);
    color: whitesmoke;
    border-radius: 15px;
    padding-left: 5vh;
}
#banner-btn:hover{
    background-color: rgba(236, 20, 56, 0.95);
    transition-duration: 0.3s;
}
.link{
    padding-left: 2vh;
}
.lower-home{
    padding: 2vh;
    padding-bottom: 0;
}

@media screen and (max-width: 768px) {
    #banner-btn{
        width: 100%;
    }
}