.tab-super-container{
    min-height: 46vh;
}

.working-list{
    min-height: 20vh;
    margin: 3vh;
    /*box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3); temp*/
    border-radius: 15px;
    filter: grayscale(50%);
    transition-duration: 0.4s;
}

.working-list:hover{
    filter: none;
}

.point-text{
    padding: 4vh;
    padding-left: 2vh;
}

.point-image{
    text-align: center;
    padding: 2vh;
}

.row-head, #end1{
    font-size: 3vh;
    color: rgba(200, 13, 56, 0.9);
}

#right-text{
    text-align: right;
    padding-left: 3.5vh;
}

.end-text{
    text-align: center;
    align-content: center;
}

.btn-container{
    padding-left: 10vw;
}

#row4{
    margin-top: 5vh;
}
.start-btn{
    background-color: rgba(200, 13, 56, 0.9);
    padding: 10px;
    border-radius: 15px;
    width: 50vw;
    color: white;
    font-size: 4vh;
    transition-duration: 0.4s;
}

.start-btn:hover{
    background-color: rgba(236, 20, 56, 0.95);
 }

img{
    width: 100%;
    text-align: center;
    border-radius: 15px;
}

#tab1{
    margin-left: 4vh;
}

.tabs{
    color: rgba(200, 13, 56, 0.9);
    transition-duration: 0.3s;
}

.tabs:hover{
    background-color: rgba(200, 13, 56, 0.9);
    color: whitesmoke;
}

/* The flip card container - height controls (width is from the col) */
.flip-card {
    background-color: transparent;
    height: 35vh;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
}
  
/* VERY IMPORTANT container, needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.5s;
    transform-style: preserve-3d;
    border-radius: 10px;
}
  
/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
}

.flip-card-vertical:hover .flip-card-inner-vertical {
    transform: rotateX(-180deg);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
}
  
/* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}
  
/* Style the front side */
  .flip-card-front {
    background-color: rgba(200, 13, 56, 1);
    /*background-image: url("../assets/images/signup_back-min.jpg");
    background-repeat: no-repeat;*/
    color: whitesmoke;
    border-radius: 10px;
    padding: 2vh;
}
  
/* Style the back side */
.flip-card-back {
    border-radius: 10px;
    padding: 2vh;
    transform: rotateY(180deg);
}

.flip-card-back-vertical{
    transform: rotateX(180deg);
}

.card-head{
    font-size: 3vh;
    font-weight: bold;
}