* {
	outline: none;
}

body{
   background-color: #eee;
}

.main-box{
   background-image: url("../assets/images/signup_back-min.jpg");
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

.carousel-item{
   padding: 3vh;
}

.brand_box{
   margin: 4vh;
   margin-top: 8vh;
   margin-right: 0vh;
   background-color: rgba(255, 255, 255, 0.2);
   padding-top: 8vh;
   padding-bottom: 8vh;
   text-align: center;
   border-radius: 10px;
   box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.7);
   transition-duration: 0.3s;
}

.brand_box:hover{
   background-color: rgba(255, 255, 255, 0.4);
}

.col-md-6{
   padding: 0;
}
.submit_btn{
   background-color: rgba(236, 20, 56, 0.95);
   outline: none;
   padding: 10px;
   border-radius: 15px;
   width: 100%;
   border: 0;
   color: white;
   transition-duration: 0.4s;
}

.submit_btn:hover{
   background-color: rgba(200, 13, 56, 0.9);
}

.heading{
   font-size: 4vh;
   font-weight: bold;
   padding: 1vh;
}

.brand_text{
   color: rgba(0, 0, 0, 0.85);
}

.error-text{
   padding-top: 6vh;
   margin-top: 5vh;
   font-size: 1.8vh;
   color: grey;
}

.slide-box{
   background-color: rgba(255, 255, 255, 1);
}

.login_field, .signup_field{
   margin: 1vh;
   margin-top: 0vh;
   padding: 0.5vh;
   font-family: sans-serif;
}

label{
   margin-bottom: 0px;
}

.text-box{
   border: 0;
   padding: 0;
   border-bottom: 1px solid #777;
   background: transparent;
   padding-left: 1vh;
   transition: 1s;
   width: 100%;
}

.text-box:focus{
   border-bottom: 1.5px solid rgba(138, 20, 44, 0.5);
   color:black;
}

.switch{
   background-color: whitesmoke;
   text-align: center;
   padding: 10px;
   border-radius: 15px;
   width: 100%;
   transition-duration: 0.5s;
}

a{
   color:  rgba(236, 20, 56, 0.95);
   transition-duration: 0.1s;
}

a:hover{
   color: whitesmoke;
   text-decoration: none;
}

.switch:hover{
   background-color:  rgba(236, 20, 56, 0.95);
}
.bg_box{
   background-image: url("/static/assets/images/login_bg.png");
   background-position: bottom;
   background-repeat: no-repeat;
   background-size: contain;
}
.reg_box{
   min-height: 77vh;
}

.pt-2{
   display: none;
}
@media screen and (max-width: 768px) {
   .left{
      display: none;
   }
   footer{
      display: none;
      visibility: hidden;
   }
   .reg_box{
      height: 90vh;
   }
   .signup_field{
      margin: 2vh;
   }
   .error-text{
      padding: 2vh;
      margin-top: 0vh;
   }

   .errorlist{
      margin-bottom: 0;
   }
}