{%extends 'base.html'%}
{%load static%}
{%load customfilter%}
{%block title%}
    Home Page
{%endblock title%}
{%block link%}
    <link rel='stylesheet' href='{%static "stylesheet/about.css"%}?v=1.2'>
    <script src='{%static "js/animate.js"%}'></script>
{%endblock link%}
{%block content%}
    
	<div id="title_sec">
		<div id="welcome">

        </div>
	</div>

    <div id="cardid1" class="card">
        <h3 id="card-head">What we have for you?</h3>
        <div class="row define-container container-fluid">
            <p class="col-md-6 define-sec" id = "left_define">
                <b>For the seller :</b><br>
                We at BBT bring to you the experience of personalising your business online in just 2 simple steps: <br>
                Register & upload or scan your list of items and sell.
                Creating a local network & helping the local shops of the city to increase their  customer base by helping them grow according to their own pace. 
            </p>
            <p class="col-md-6 define-sec" id = "right_define">
                <b>For the user :</b><br>
                Get your results based on the fastest delivery possible, different products at the particular online stores and much more.
                A virtual market experience brought to you by BBT.
                Experience visiting your market online from the safe comfort of your home. 	
            </p>
        </div>
    </div>

    <div id="cardid2" class="card">
        <h3 id="card-head">How it Works</h3>
        <div class="row work-sec container-fluid">
            Connecting the seller with the customers clustered by location and preference through&nbsp;<b> E-Dukaan</b>We at E Dukaan are here to make you experience an easy, simple, comfortable, flexible and profitable way to take your business online.
            Open another branch of your shop quick and fast, with negligible investments and better returns. 
            Tell us what you wish to sell and we handle the rest.
            From digital marketing to location based advertising, we bring the traffic to your products to help you grow.
            Your growth is our growth.
        </div>
    </div>

    <div id="cardid3" class="card">
        <h3 id="card-head">About Us</h3><br>
        <div class="row about-us container-fluid">
            Yeah we kool
        </div>
    </div>
    <div class="container d-flex justify-content-center ">
        <a href="{%url 'home'%}" class="cart-btn">
            <div id="cart-btn">GO TO HOME</div>
        </a>
    </div>

	<div class="d-flex justify-content-center end-sec">
		Reliable. 
        Efficient. 
        Quick. 
        Personalised.
    </div>

{%endblock content%}
