<!-- template for other sites -->

{%load static%}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            {%block title%}
        
            {%endblock title%}
        </title>
        <link rel='stylesheet' href='{%static "stylesheet/base.css"%}?v = 1.3'>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    
        {%block link%}

        {%endblock link%}
        
    </head>

    <body>
        <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="{%url 'home'%}" id = "head_start">Hola</a> 
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
            </div>
        </nav>

        <div class = "main_body">
            {%block content%}
            
            {%endblock content%}
        </div>
        
        <footer>
            <div class="container-fluid padding">
            <div class="row text-center">
                <div class="col-12">
                    <hr class="light">
                    This is the footer.
                </div>
            </div>
            </div>
        </footer>

    </body>
</html>