<!-- template for other sites -->

{%load static%}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Cache-control" content="public">
        <meta charset="UTF-8">
        <meta name="description" content="To Infinity and Beyond with ProjectY">
        <meta name="keywords" content="E-Commerce, Bazaar">
        <meta name="author" content="Avishrant Sharma, Prateek Thakur, Spriha Gautam, Sitaram Rathi">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>
            {%block title%}
        
            {%endblock title%}
        </title>
        <link rel='stylesheet' href='{%static "stylesheet/base.css"%}'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="manifest" href="/manifest.json">
        <link rel = "icon" href = "{%static 'images/icons/icon_colour.svg'%}" type = "image/x-icon"> 
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins&display=swap" rel="stylesheet">    
        {%block link%}

	    {%endblock link%}     
                      
    </head>

    <body>
        <nav class="navbar navbar-expand-md navbar-fixed-top">
            <div class="container-fluid my-2">
                <a class="navbar-brand cherry" href="{%url 'home'%}" id = "head_start">Enigma</a>
                <div style="display: flex; padding-left: 2vw;">
                    <form action="{%url 'search'%}" style="display: flex;">
                        <input type="text" name="product" placeholder="Search" id="search" value="{%block val%}{%endblock val%}"> 
                        <button aria-label="search" id="search-icon" class="nav-link" type="submit"><i class="fa fa-search"></i></button>
                        {%block sid%}{%endblock sid%}
                    </form>
                </div>
                
                <button aria-label="toggle" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <div class="navbar-nav ml-md-auto d-md-flex flex-row">
                    {%if user.is_authenticated%}
                        <a class="nav-item nav-link nav_link" href="{%url 'profile'%}"><i class="fas fa-user"></i> {{user.username}}</a>
                        <a class="nav-item nav-link nav_link" href="{%url 'logout'%}">Logout <i class="fas fa-sign-out-alt"></i></a>
                    {%else%}
                        <a class="nav-item nav-link nav_link" href="{%url 'login'%}">Login <i class="fas fa-sign-in-alt"></i></a>
                    {%endif%}
                        <a href="{%url 'cart' %}" class="nav-item nav-link nav_link">Cart <i class="fas fa-shopping-cart"></i></a>
                    </div>
                </div>
            </div>
        </nav>

        <div class = "main-box container-fluid">
            {%block content%}
            
            {%endblock content%}
        </div>
        
        <footer class="py-2">
            <div class="container-fluid">
                <div class="row pt-2">
                    <div class="col-md-6 col-lg-4">
                        <h2 class="widget-title">About</h2>
                        <div class="footer-list-div">
                            We at <b>Engima</b> aim at providing you the easiest platform where you can sell your Products with minimal efforts as that's why we are here, to reduce all the work of selling Products online and make your Bussiness grow more.</p><br>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-2">
                        <h2 class="widget-title">Help</h2>
                            <div class="footer-list-div">
                                <ul class="footer-list">
                                    <li><a href="#">Payments and Shipping</a></li>
                                    <li><a href="#">Cancellation and Returns</a></li>
                                    <li><a href="#">FAQs</a></li>
                                </ul>
                            </div>
                    </div>
                    <div class="col-md-6 col-lg-2">
                        <h2 class="widget-title">Policy</h2>
                            <div class="footer-list-div">
                                <ul class="footer-list">
                                    <li><a href="#">Security</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                    <li><a href="#">Terms and Conditions</a></li>
                                </ul>
                            </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <h2 class="widget-title">Contact info</h2>
                            <div class="footer-list-div">
                                <ul class="footer-list">
                                    <li><i class="fas fa-phone-square"></i> Contact us: +91 1234567890</li>
                                    <li><i class="fas fa-envelope"></i> E-mail: sample@gmail.com</li>
                                    <li><i class="fas fa-map-marker-alt"></i> Address: Himadri Boys Hostel, Nit-Hamirpur, Hamirpur-177001, Himachal Pradesh</li>
                                </ul>
                            </div>
                        </div>
                </div>
               
            <div class="container-fluid">
                <div class="container text-center" style="background-color: #eee;">
                        <h2 class="widget-title">Follow us on</h2>
                        <div>
                            <ul>
                                </li><a href="#"><i id="fb" class="fab fa-facebook-square fa-2x"></i></a>
                                <a href="#"><i id="insta" class="fab fa-instagram fa-2x"></i></a>
                                <a href="#"><i id="twit" class="fab fa-twitter fa-2x"></i></a>
                                <a href="#"><i id="link" class="fab fa-linkedin fa-2x"></i></a>
                            </ul>
                        </div>
                        &copy; Copyright Team Enigma
                </div>
            </div>
        </div>
        </footer>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
        
    </body>
</html>
