{%extends 'base.html'%}
{%load static%}

{%block title%}
    Home Page
{%endblock title%}
{%block link%}
    <link rel='stylesheet' href='{%static "stylesheet/home.css"%}?v=1.9'>

{%endblock link%}
{%block content%}
<div class ="main_box">
	<div class="carousel-container">
		<div id="slides" class="carousel slide" data-ride="carousel">
			<ul class="carousel-indicators">
				<li class="indicator" data-target="#slides" data-slide-to="0" class="active"></li>
				<li class="indicator" data-target="#slides" data-slide-to="1"></li>
				<li class="indicator" data-target="#slides" data-slide-to="2"></li>
			</ul>

			<div class="carousel-inner">
				<div class="carousel-item active">
					<div class="row">
						<div class="image-box col-md-4">
							<img id="slide-image" class="svg-container" src="../../static/assets/icons/idea-bulb.svg">
						</div>
						<div class="carousel-text col-md-8">
							<h1 class="slide-head">Introduction</h1> 
							Some Text
						</div>
					</div>
				</div>

				<div class="carousel-item"> 
					<div class="row">
						<div class="image-box col-md-4">
							<img id="slide-image" class="svg-container" src="../../static/assets/icons/people.svg">
						</div>
						<div class="carousel-text col-md-8">
							<div class="slide-head-2">Featured Seller</div>
							<h2 class="slide-head">Maple</h2>
								Literature and Stationery 
							<a href="../shop/Literature%20and%20Stationary/Maple/997f8fbd-d073-4611-ac81-16ddf2f69f1f/" class="banner-btn">
								<div id="banner-btn">Visit</div>
							</a>
						</div>
					</div>
				</div>

				<div class="carousel-item"> 
					<div class="row">
						<div class="image-box col-md-4">
							<img id="slide-image" class="svg-container" src="../../static/assets/icons/finance-analysis.svg">
						</div>
						<div class="carousel-text col-md-8">
							<h1 class="slide-head">Caption 3</h1> 
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="row">

	</div>
</div>

{%endblock content%}
