{%extends 'base.html'%}
{%load static%}
{%block title%}
    SignUp
{%endblock title%}
{%block link%}
    <link href="{%static 'stylesheet/signup.css'%}" rel="stylesheet">
    <link rel='stylesheet' href='{%static "stylesheet/snackbar.css"%}'>
    <script src="{%static 'js/snack.js'%}"></script>
{%endblock link%}
   
{%block content%}
<!--<div class= "bg-image-blur"></div>-->
<div class="row reg_box">
    <!-- Brand Box -->
    <div class="col-md-7 left">
        <div class="row">
        <div class="col-md-3"></div>
            <div class="col-md-7">
                <div class="brand_box">
                    <div class="logo container-fluid"> Big Logo (to someplace)</div>
                    <div class="brand_text">
                        <h2>E-Commerce <br> Peeps</h2>
                        <p>A complete solution</p>
                    </div>
                </div>
            </div>
        <div class="col-md-2"></div>
        </div>
    </div>

    <div class="col-md-5 slide-box right">
        <div id="carousel_forms" class="carousel slide h-100" data-ride="carousel" data-interval="false">
            <div class="carousel-inner h-100">
                {%if form.errors%}
                <div class="carousel-item h-100">
                {%else%}
                <div class="carousel-item h-100 active">
                {%endif%}
                    <!-- Login Form -->
                    <div class="row h-100 bg_box">
                        <div class="col-lg-9">
                            <div class="w-100 form-box">
                                <div class = "heading">Login</div>
                                <!-- Form Comes here!!!!-->
                                <form method="post">
                                    {% csrf_token %}
                                    {% for field in f_login %}
                                            <div class="login_field">
                                                {{ field.label_tag }}<br>
                                                {{ field }}
                                            </div>
                                    {% endfor %}
                                    
                                    <input type="submit" class="submit_btn my-3" value="Login" name="submit"/>
                                </form>
                                <a data-target="#carousel_forms" data-slide-to="1" href="#"><div class="switch">I'm New Here</div></a>
                            </div>
                        </div>
                        <div class="col-lg-3 error-text">
                            {% for error in f_login.non_field_errors %}
                                {{error|safe}}<br>
                            {%endfor%}
                        </div>
                        {%if f_login.non_field_errors%}
                            <div id="snackbar" >Invalid Login Credentials</div>
                            <script>
                                snack();
                            </script>
                        {%endif%}
                    
                    </div><!-- End Login Form -->
                </div>
                {%if form.errors%}
                <div class="carousel-item h-100 active">
                {%else%}
                <div class="carousel-item h-100">
                {%endif%}
                    <!-- Signup Form -->
                    <div class="row h-100">
                        <div class="col-lg-7">
                            <div id="sign">
                                <div class="heading">Sign Up</div>

                                {% if field.help_text %}
                                    <small style="color: grey">{{ field.help_text | safe }}</small>
                                {% endif %}
                                <!-- Form Comes here!!!!-->
                                <form method="post">
                                    {% csrf_token %}
                                    {% for field in form %}
                                        <div class="signup_field">
                                            {{ field.label_tag }}<br>
                                            {{ field }}
                                        </div>
                                    {% endfor %}
                                    <input type="submit" class="submit_btn my-3" value="Sign Up" name="submit"/>
                                </form>
                                    <a id="switch-link" data-target="#carousel_forms" data-slide-to="0" href="#"><div class="switch">I already have an account.</div></a>
                            </div>        
                        </div>
                        <div class="col-lg-5 error-text">
                            {% for key,error in form.errors.items %}
                                {{error}}<br>
                            {%endfor%}
                            {%if form.errors%}
                            <div id="snackbar">Please check your information.</div>
                            <script>
                                snack();
                            </script>
                        {%endif%}
                        </div>
                    </div>
                <!-- End Signup Form -->
                </div> 
            </div>
        </div>         
    </div>
</div>
{%endblock content%}