{%extends 'base.html'%}
{%load static%}
{%block title%}
    SignUp
{%endblock title%}
{%block link%}
    <link href="{%static 'stylesheet/signup.css'%}?v=1.2" rel="stylesheet" media="print" onload="this.media='all'">
{%endblock link%}
   
{%block content%}

<div class="row">

<!-- Brand Box -->
<div class="col-md-2"></div>
    <div class="col-md-4 brand">
        <div class="brand_box">
        <a href="#" class="logo"> Big Logo (to someplace)</a>
        <div class="brand_text">
            <h2>E-Commerce <br> Peeps</h2>
            <p>A complete solution</p>
        </div>
    </div>
</div>

<div class="col-md-6">
    <div id="carousel_forms" class="carousel slide" data-ride="carousel" data-interval="100000,000">
        <div class="carousel-inner">
            
            <div class="carousel-item active">
                <!-- Login Form -->
                <div class="login_form"> 
                    <div class="heading">Login</div>
                    <!-- Form Comes here!!!!-->
                    <form method="post">
                        {% csrf_token %}
                        {% for field in f_login %}
                                <div class="login_field">
                                    {{ field.label_tag }}<br>
                                    {{ field }}
                                </div>
                        {% endfor %}
                        {{f_login.errors}}
                        <button type="submit">Login</button>
                    </form>
                    <div class="switch">
                    <a data-target="#carousel_forms" data-slide-to="1" href="#">I'm New Here</a>                    
                    </div>
                </div><!-- End Login Form -->
            </div>

            <div class="carousel-item">
                <!-- Signup Form -->
                <div id="sign">
                    <div class="heading">Sign Up</div>
                    <!-- Form Comes here!!!!-->
                    <form method="post">
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="signup_field">
                                {{ field.label_tag }}<br>
                                {{ field }}
                            </div>
                       {% endfor %}
                       {{form.errors}}
                        <button type="submit">Sign up</button>
                    </form>
                    <div class="switch">
                        <a data-target="#carousel_forms" data-slide-to="0" href="#">I already have an account.</a>
                    </div>
                </div>        
            </div><!-- End Signup Form -->

        </div> 
    </div>
</div>         
</div>

{%endblock content%}