{%extends 'base.html'%}
{%load static%}
{%load customfilter%}
{%block title%}
    Some description        
{%endblock title%}
{%block link%}
<link rel='stylesheet' href='{%static "stylesheet/product_dscr.css"%}?v=1.3'>

{%endblock link%}
{%block content%}
<div class = "main_box row">

	<div class="card col-md-9">
			<div class="card-inner row">
				<img class="prod-image col-md-4" src="{{data.img.url}}">
				<div class="product-details col-md-8">
					<div class="prod-head">{{data.name}}<br></div>
					<div class="prod-brand">{{data.brand}}<br></div>
					<div class="prod-price">Rs.{{data.base_price}}<br></div>
					<div class="prod-stock">In Stock: {{data.stock}}<br></div>
					Rating: {{data.rating}} from {{data.total_ratings}} Total Ratings
					<div class="prod-description">{{data.description}}<br></div>
					Author: {{data.additional|author}}<br>
					Date of Publication: {{data.additional|date}}<br>
					Pages: {{data.additional|pages}}<br>
					Language: {{data.additional|language}}
					
			</div>
			</div>
	</div>

	<div class="col-md-3">
		<div class="seller-details">
			<div class="seller-head"><br> Provided By<br></div>
			<div class="seller-brand">{{seller.bs_name}}<br></div>	
			{{seller.bs_category}}
		</div>

		<div class="cart-container">
			<div class="cart-order">
				<img src="#" alt="Cart Icon">
					<a href="#" class="cart-btn">
						<div id="cart-btn">Add to Cart</div>
					</a>
					<a href="#" class="cart-btn">
						<div id="cart-btn">Buy Now</div>
					</a>
			</div>
		</div>
	</div>

</div>
{%endblock content%}