{%extends 'base.html'%}
{%load static%}
{%load customfilter%}
{%block title%}
    Some description        
{%endblock title%}
{%block link%}
<link rel='stylesheet' href='{%static "stylesheet/product_dscr.css"%}?v=1.2'>

{%endblock link%}
{%block content%}
<div class = "main_box row">

	<div class="card col-md-12">
		<div class="card-inner row">
			<img class="prod-image col-md-4" src="{{data.img.url}}">
				<div class="product-details">
					<div class="prod-head">{{data.name}}<br></div>
					<div class="prod-brand">{{data.brand}}<br></div>
					<div class="prod-price">Rs.{{data.base_price}}<br></div>
					<div class="prod-stock">In Stock: {{data.stock}}<br></div>
					{{data.rating}}
					{{data.total_ratings}}
					<div class="prod-description">{{data.description}}<br></div>
					{{data.additional|author}}
					{{data.additional|date}}
					{{data.additional|pages}}
					{{data.additional|language}}
					<br>Seller Info Coming Soon<br>
					{{seller.bs_name}}<br>
					{{seller.bs_category}}

			</div>
	</div>
	</div>

</div>
{%endblock content%}