{%extends 'base.html'%}
{%load static%}
{%load customfilter%}
{%block title%}
    Product Search        
{%endblock title%}
{%block link%}
	<link rel='stylesheet' href='{%static "stylesheet/search.css"%}?v=1.3'>

{%endblock link%}
{%block val%}
{%if search != "None" and search%}
{{search}}
{%else%}
{%endif%}
{%endblock val%}
{%block sid%}{{sid}}{%endblock sid%}
{%block content%}
{%if found%}
<div class="result-head row">
    <div class="col-md-2"></div>
    {%if search != "None" and search%}
    <div class="col-md-10">Search results for: {{search}}</div>
    {%endif%}
    <div>{{total}} results found.</div>
</div>
<div class="row">
    <div class="col-md-2 filter-pane">
        <h4>The filter-pane</h4>
        <div class="filter-section-container">
            <div class="filter-section">
                This is a filter section
            </div>
            <div class="filter-section">
                This is a filter section
            </div>
            <div class="filter-section">
                This is a filter section
            </div>
        </div>
    </div>
    <div class="col-md-10">
        <div class="row search-container">
            {%for i in products%}
            <div class="card-container col-lg-3 col-md-6">
                <div class="card">
                    <a href="{%url 'product' i.pk%}" class="btn" style="padding: 0;">
                    <img class="card-img-top" src="{{i.img.url}}" alt="Card image" style="width:100%">
                    <div class="card-details">
                        <h4 class="card-title">{{i.name|trim}}</h4>
                        <h6 class="card-title">{{i.brand|trim}}</h6>
                        <p class="card-text">{{i.description|dtrim}}</p>
                        Authors: {{i.additional|author|authtrim}}<br>
                        {{i.additional|pages}} Pages | 
                        {{i.additional|language}}<br>
                    </div>
                    <div class="cart-btn">
                        <a href="#" id="cart-btn">Add to Cart</a>
                    </div>
                    </a>
                </div>
            </div>
            {%endfor%}
        </div>
    </div>
</div>

{% if products.has_other_pages %}
<nav aria-label="Page navigation conatiner">
    <ul class="pagination justify-content-center">
        <form>
            <input type="hidden" name="id" value="{{sid}}"/>
            <input type="hidden" name="product" value="{{search}}"/>
            {% if products.has_previous %}
                <button type="submit" name="page" value="{{ products.previous_page_number }}" class="page-link">&laquo; Previous </button>
            {% endif %}
            {% if products.has_next %}
            <button type="submit" name="page" value="{{ products.next_page_number }}" class="page-link"> Next &raquo;</button>
            {% endif %}
        </form>
    </ul>
</nav>
{% endif %}
{%else%}Oh Snap. No Product Found{%endif%}
{%endblock content%}