{%extends 'base.html'%}
{%load static%}

{%block title%}
    Product Search        
{%endblock title%}
{%block link%}
	<link rel='stylesheet' href='{%static "stylesheet/search.css"%}?v=1.1'>

{%endblock link%}
{%block content%}
<div class="row search-container">
    {%for i in products%}
    <div class="card-container col-md-3">
        <div class="card">
            <img class="card-img-top" src="{{i.img.url}}" alt="Card image" style="width:100%">
            <div class="card-body">
                <h4 class="card-title">{{i.name}}</h4>
                <h6 class="card-title">{{i.brand}}</h6>
                <p class="card-text">{{i.description}}</p>
                <a href="{%url 'product' i.pk%}" class="btn btn-primary">See Profile</a>
            </div>
        </div>
    </div>
    {%endfor%}
</div>

    {% if products.has_other_pages %}
    <nav aria-label="Page navigation conatiner"></nav>
    <ul class="pagination justify-content-center">
        {% if products.has_previous %}
        <li><a href="?page={{ products.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
        {% endif %}
        {% if products.has_next %}
        <li><a href="?page={{ products.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
    {% endif %}
    </ul>
    </nav>
    </div>
    {% endif %}
{%endblock content%}