{%extends 'base.html'%}
{%load static%}
{%load customfilter%}
{%block title%}
    Product Search        
{%endblock title%}
{%block link%}
	<link rel='stylesheet' href='{%static "stylesheet/product_list.css"%}?v=1.4'>
    
{%endblock link%}
{%block content%}
    {{user.username}}<br>
    {{seller.bs_name}}<br>
    {{seller.bs_category}}<br>
    {{seller.address|safe}}<br>
    <label for="myInput">Your Personnel Link: </label>
    <input type="text" value="{{base}}{%url 'seller_shop' seller.bs_category seller.bs_name seller.id%}" id="myInput" class="w-50" readonly>
    <button onclick="myFunction()"><i class="fa fa-copy" aria-hidden="true"></i></button>
    <a href="{%url 'sheet'%}">Add Products</a>
    
       
    <script>
    function myFunction() {
      var copyText = document.getElementById("myInput");
      copyText.select();
      copyText.setSelectionRange(0, 99999)
      document.execCommand("copy");
      alert("Copied");
    }
    </script>
{%endblock content%}