{%extends 'base.html'%}
{%load static%}
{%block title%}
    Seller Registration
{%endblock title%}
{%block link%}
    <link href="{%static 'stylesheet/seller_reg.css'%}?v=1.2" rel="stylesheet" media="print" onload="this.media='all'">
{%endblock link%}
   
{%block content%}


<!--<div class= "bg-image-blur"></div>-->
<div class="row reg_box">
    <!-- Brand Box -->
<div class="col-md-7 left">
    <div class="row">

    </div>
</div>

<!-- Upload form. Note enctype attribute! -->


<div class="col-md-5 slide-box right">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div id="carousel_forms" class="carousel slide h-100" data-ride="carousel" data-interval="false">
            <div class="carousel-inner h-100">
                {%if form.errors%}
                <div class="carousel-item h-100">
                {%else%}
                <div class="carousel-item h-100 active">
                {%endif%}
                    <!-- Login Form -->
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="w-100 form-box">
                                <!-- Div 1 -->
                                <div class="heading">Business Details</div>
                                <div>
                                    <div class="seller_field">
                                        <label for="{{form.bs_name.id_for_label}}">{{form.bs_name.label_tag}}</label><br>
                                        {{ form.bs_name }}
                                    </div>
                                    <div class="seller_field">
                                        <label for="{{form.bs_category.id_for_label}}">{{form.bs_category.label_tag}}</label><br>
                                        {{ form.bs_category }}
                                    </div>
                                    <div class="seller_field">
                                        <label for="{{form.gst_no.id_for_label}}">{{form.gst_no.label_tag}}</label><br>
                                        {{ form.gst_no }}
                                    </div>
                                    <div class="seller_field">
                                        <label for="{{form.pan_no.id_for_label}}">{{form.pan_no.label_tag}}</label><br>
                                        {{ form.pan_no }}
                                    </div>
                                    <div class="seller_field">
                                        <label for="{{form.bank_ac.id_for_label}}">{{form.bank_ac.label_tag}}</label><br>
                                        {{ form.bank_ac }}
                                    </div>
                                    <div class="seller_field">
                                        <label for="{{form.pan_card.id_for_label}}">{{form.pan_card.label_tag}}</label><br>
                                        {{ form.pan_card }}
                                    </div>
                                </div>

                            </div>
                            <a data-target="#carousel_forms" data-slide-to="1" href="#" id="switch-link"><div class="switch">Proceed</div></a>
                        </div>
                        <div class="col-lg-5 error-text">
                            {% for error in f_login.non_field_errors %}
                                {{error|safe}}<br>
                            {%endfor%}
                        </div>
                    </div><!-- End Login Form -->
                </div>

                {%if form.errors%}
                <div class="carousel-item h-100 active">
                {%else%}
                <div class="carousel-item h-100">
                {%endif%}
                    <!-- Signup Form -->
                    <div class="row h-100">
                        <div class="col-lg-7">
                            <!-- Div 2 -->
                            <div class="heading">Address Details</div>
                            <div>
                                <div class="seller_field">
                                    <label for="{{form.addr1.id_for_label}}">{{form.addr1.label_tag}}</label><br>
                                    {{ form.addr1 }}
                                </div>
                                <div class="seller_field">
                                    <label for="{{form.addr2.id_for_label}}">{{form.addr2.label_tag}}</label><br>
                                    {{ form.addr2 }}
                                </div>
                                <div class="seller_field">
                                    <label for="{{form.district.id_for_label}}">{{form.district.label_tag}}</label><br>
                                    {{ form.district }}
                                </div>
                                <div class="seller_field">
                                    <label for="{{form.state.id_for_label}}">{{form.state.label_tag}}</label><br>
                                    {{ form.state }}
                                </div>
                                <div class="seller_field">
                                    <label for="{{form.country.id_for_label}}">{{form.country.label_tag}}</label><br>
                                    {{ form.country }}
                                </div>
                                <div class="seller_field">
                                    <label for="{{form.pincode.id_for_label}}">{{form.pincode.label_tag}}</label><br>
                                    {{ form.pincode }}
                                </div>
                            </div>

                            <a data-target="#carousel_forms" data-slide-to="2" href="#">
                                <input class="switch" id="switch-link" type="submit" value="Submit for Review" />
                            </a>
                            <a id="switch-link" data-target="#carousel_forms" data-slide-to="0" href="#"><div class="switch">Previous</div></a>
                        </div>
                        <div class="col-lg-5 error-text">
                            {% for key,error in form.errors.items %}
                                {{error}}<br>
                            {%endfor%}
                        </div>
                    </div>
                <!-- End Signup Form -->
                </div> 
                <!--</div> -->

                {%if form.errors%}
                <div class="carousel-item h-100 active">
                {%else%}
                <div class="carousel-item h-100">
                {%endif%}
                    <!-- Div 3 -->
                    <div class="end-slide">
                    <div class="heading "> <br><br><br>Thank You for choosing us!</div>
                    <a id="switch-link" data-target="#carousel_forms" data-slide-to="1" href="#"><div class="switch">Go Back</div></a>
                    </div>
                </div>
                </div> 
            </div>
            </div>         
        </div>
        </div>
        </form>
        </div>

{%endblock content%}